body {
    background-color: dimgray;
    height: 10rem;
}

i {
    color: aliceblue;
    font-size: 2rem;
    margin-left: 10px;
}

form {
    margin-top: 4.5rem;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
}